/*移动端默认样式*/
/*清除掉按下时会有一个灰色阴影*/
a,
input,
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/*清除掉ios自带圆角*/
input,
button {
  -webkit-appearance: none;
  border-radius: 0;
  border: none;
  background-color: #fff;
}
body {
  /*禁止选中文字*/
  -webkit-user-select: none;
  /* iPhone 和 Android 的浏览器纵向 (Portrate mode) 和橫向 (Landscape mode) 模式皆有自动调整字体大小的功能。控制它的就是 CSS 中的 -webkit-text-size-adjust。关闭字体大小自动调整功能*/
  -webkit-text-size-adjust: 100%;
}
/*字体设置*/
body * {
  font-family: PingFang-SC-Medium;
}
a {
  text-decoration: none;
}
input,
button {
  outline: none;
  vertical-align: middle;
}
img {
  vertical-align: middle;
}
ul {
  list-style: none;
}
body,
ul,
h1,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
/*变量*/
body {
  margin-top: 1.76rem;
}
header {
  z-index: 105;
  width: 100%;
  height: 1.76rem;
  background-color: #0099df;
  position: fixed;
  top: 0;
  left: 0;
}
header .back {
  width: 1.2rem;
  height: 0.8rem;
  background: url(../img/back.png) no-repeat;
  background-size: 0.44rem 0.8rem;
  position: absolute;
  top: 0.4rem;
  left: 0.4rem;
}
header .mainTitle {
  height: 0.8rem;
  line-height: 0.8rem;
  font-size: 0.8rem;
  color: #fff;
  position: absolute;
  top: 0.48rem;
  left: 50%;
  transform: translateX(-50%);
}
header .free {
  height: 0.64rem;
  position: absolute;
  line-height: 0.64rem;
  font-size: 0.64rem;
  color: #fff;
  right: 2%;
  top: 0.56rem;
}
header .free span {
  float: right;
  width: 0.64rem;
  height: 0.32rem;
  margin-top: 0.24rem;
  background: url(../img/downArrow.png) no-repeat;
  background-size: 0.64rem 0.32rem;
}
#content {
  width: 100%;
}
#content .time {
  width: 100%;
  height: 2.2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 0.44rem solid #f3f3f3;
  border-bottom: 0.04rem solid #eee;
}
#content .time .start,
#content .time .finish {
  width: 30%;
  height: 1.28rem;
  line-height: 1.28rem;
  font-size: 0.52rem;
  border-radius: 0.64rem;
  background-color: #f2f2f2;
  color: #000;
  text-align: center;
}
#content .time p {
  height: 1.28rem;
  line-height: 1.28rem;
  font-size: 0.64rem;
}
#content .time .reStart {
  width: 20%;
  height: 1.28rem;
  line-height: 1.28rem;
  font-size: 0.64rem;
  border-radius: 0.64rem;
  background-color: #ff7614;
  color: #fff;
  text-align: center;
}
#content .types {
  width: 100%;
  height: 1.6rem;
  display: flex;
  justify-content: space-around;
}
#content .types .item {
  width: 25%;
  height: 1.52rem;
  text-align: center;
  line-height: 1.52rem;
  font-size: 0.64rem;
  border-bottom: 0.08rem solid #e2e2e2;
}
#content .types .item.active {
  color: #be1204;
  border-bottom: 0.08rem solid #be1204;
}
#content ul {
  width: 100%;
}
#content ul li {
  width: 100%;
  height: 3.2rem;
  border-bottom: 0.4rem solid #eee;
  position: relative;
}
#content ul li .one {
  width: 30%;
  height: 0.64rem;
  line-height: 0.64rem;
  font-size: 0.64rem;
  position: absolute;
  top: 0.6rem;
  left: 3%;
}
#content ul li .two {
  width: 40%;
  height: 0.52rem;
  line-height: 0.52rem;
  font-size: 0.52rem;
  position: absolute;
  top: 0.64rem;
  left: 32%;
  color: #868484;
  text-align: center;
}
#content ul li .three {
  width: 24%;
  height: 0.52rem;
  line-height: 0.52rem;
  font-size: 0.52rem;
  position: absolute;
  top: 0.64rem;
  right: 3%;
  color: #ec0022;
  text-align: right;
}
#content ul li .four {
  width: 45%;
  height: 0.64rem;
  line-height: 0.64rem;
  font-size: 0.52rem;
  position: absolute;
  bottom: 0.6rem;
  left: 3%;
}
#content ul li .five {
  width: 45%;
  height: 0.52rem;
  line-height: 0.52rem;
  font-size: 0.52rem;
  position: absolute;
  bottom: 0.64rem;
  right: 3%;
  color: #ec0022;
  text-align: right;
}
#content .deadLine {
  width: 100%;
  height: 0.48rem;
  line-height: 0.48rem;
  font-size: 0.48rem;
  margin-top: 0.6rem;
  text-align: center;
  color: #999999;
}
#mask {
  display: none;
  z-index: 103;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}
#dateDialog {
  display: none;
  z-index: 104;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 12rem;
  background-color: #fff;
}
#dateDialog .topBtns {
  width: 100%;
  height: 1.6rem;
  border-bottom: 0.04rem solid #eee;
}
#dateDialog .topBtns .cancel {
  width: 50%;
  height: 1.6rem;
  line-height: 1.6rem;
  font-size: 0.64rem;
  color: #26a2ff;
  text-align: center;
  float: left;
}
#dateDialog .topBtns .sure {
  width: 50%;
  height: 1.6rem;
  line-height: 1.6rem;
  font-size: 0.64rem;
  color: #26a2ff;
  text-align: center;
  float: left;
}
#dateDialog .bot {
  width: 100%;
  height: 10.36rem;
}
#dateDialog .bot .year {
  z-index: 105;
  float: left;
  width: 33%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
#dateDialog .bot .year ul {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#dateDialog .bot .year ul li {
  width: 100%;
  height: 1.44rem;
  line-height: 1.44rem;
  font-size: 0.72rem;
  color: #a6a6a7;
  text-align: center;
}
#dateDialog .bot .month {
  z-index: 105;
  float: left;
  width: 33%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
#dateDialog .bot .month ul {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#dateDialog .bot .month ul li {
  width: 100%;
  height: 1.44rem;
  line-height: 1.44rem;
  font-size: 0.72rem;
  color: #a6a6a7;
  text-align: center;
}
#dateDialog .bot .day {
  z-index: 105;
  float: left;
  width: 33%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
#dateDialog .bot .day ul {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#dateDialog .bot .day ul li {
  width: 100%;
  height: 1.44rem;
  line-height: 1.44rem;
  font-size: 0.72rem;
  color: #a6a6a7;
  text-align: center;
}
#dateDialog .mask {
  width: 100%;
  height: 1.44rem;
  position: absolute;
  top: 3.08rem;
  left: 0;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: 104;
}
#mask {
  display: none;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
}
#lotteryTypeDialog {
  display: none;
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 1.76rem;
  left: 0;
  z-index: 102;
}
#lotteryTypeDialog ul {
  width: 100%;
  padding: 0.4rem 0.4rem 2rem 0.4rem;
  box-sizing: border-box;
}
#lotteryTypeDialog ul li {
  float: left;
  width: 31%;
  height: 1.12rem;
  line-height: 1.12rem;
  font-size: 0.52rem;
  border: 0.04rem solid #eee;
  color: #999;
  margin-left: 2.3%;
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 0.4rem;
}
#lotteryTypeDialog ul li.active {
  color: #be1204;
  border: 0.04rem solid #be1204;
}
