/*移动端默认样式*/
/*清除掉按下时会有一个灰色阴影*/
a,
input,
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/*清除掉ios自带圆角*/
input,
button {
  -webkit-appearance: none;
  border-radius: 0;
  border: none;
  background-color: #fff;
}
body {
  /*禁止选中文字*/
  -webkit-user-select: none;
  /* iPhone 和 Android 的浏览器纵向 (Portrate mode) 和橫向 (Landscape mode) 模式皆有自动调整字体大小的功能。控制它的就是 CSS 中的 -webkit-text-size-adjust。关闭字体大小自动调整功能*/
  -webkit-text-size-adjust: 100%;
}
/*字体设置*/
body * {
  font-family: PingFang-SC-Medium;
}
a {
  text-decoration: none;
}
input,
button {
  outline: none;
  vertical-align: middle;
}
img {
  vertical-align: middle;
}
ul {
  list-style: none;
}
body,
ul,
h1,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
/*变量*/
body {
  margin-top: 1.76rem;
  background-color: #f5f5f5;
  padding-top: 0.32rem;
}
header {
  width: 100%;
  height: 1.76rem;
  background-color: #0099df;
  position: fixed;
  top: 0;
  left: 0;
}
header .back {
  width: 1.2rem;
  height: 0.8rem;
  background: url(../img/back.png) no-repeat;
  background-size: 0.44rem 0.8rem;
  position: absolute;
  top: 0.4rem;
  left: 0.4rem;
}
header .mainTitle {
  height: 0.8rem;
  line-height: 0.8rem;
  font-size: 0.8rem;
  color: #fff;
  position: absolute;
  top: 0.48rem;
  left: 50%;
  transform: translateX(-50%);
}
#content {
  width: 100%;
  background-color: #fff;
  overflow: hidden;
}
#content .name,
#content .password {
  width: 90%;
  margin-left: 5%;
  border-bottom: 0.04rem solid #ccc;
  height: 2.04rem;
  padding: 0.12rem 0;
  box-sizing: border-box;
}
#content .name input,
#content .password input {
  width: 100%;
  height: 1.76rem;
  line-height: 1.76rem;
  font-size: 0.64rem;
  padding-left: 2rem;
  background: url(../img/admin.png) no-repeat;
  background-size: 1rem 1rem;
  background-position: 0 center;
}
#content .name:nth-of-type(2) input,
#content .password:nth-of-type(2) input {
  background: url(../img/password.png) no-repeat;
  background-size: 1rem 1rem;
  background-position: 0 center;
}
#content .type {
  width: 90%;
  margin-left: 5%;
  border-bottom: 0.04rem solid #ccc;
  height: 2.04rem;
  padding: 0.12rem 0;
  box-sizing: border-box;
}
#content .type .title {
  float: left;
  height: 1.76rem;
  line-height: 1.76rem;
  font-size: 0.64rem;
}
#content .type .proxy,
#content .type .member {
  float: left;
  height: 1.76rem;
  line-height: 1.76rem;
  font-size: 0.64rem;
  padding-left: 1.6rem;
  color: #989898;
  background: url(../img/checkboxNot.png) no-repeat;
  background-size: 0.8rem 0.8rem;
  background-position: 0.6rem center;
}
#content .type .proxy.active,
#content .type .member.active {
  background: url(../img/checkboxYes.png) no-repeat;
  background-size: 0.8rem 0.8rem;
  background-position: 0.6rem center;
}
#content .percent {
  width: 92%;
  height: 2rem;
  margin-left: 4%;
  border-bottom: 0.04rem solid #ccc;
}
#content .percent .title {
  float: left;
  height: 2rem;
  line-height: 2rem;
  font-size: 0.64rem;
}
#content .percent .con {
  float: left;
  height: 2rem;
  line-height: 2rem;
  font-size: 0.64rem;
  margin-left: 0.8rem;
  color: #989898;
}
#content .slider {
  width: 92%;
  height: 2rem;
  margin-left: 4%;
}
#content .slider .leftSection {
  width: 20%;
  height: 2rem;
  float: left;
}
#content .slider .leftSection .p1 {
  width: 100%;
  height: 1rem;
  line-height: 1rem;
  font-size: 0.56rem;
  color: #ff7614;
  text-align: center;
}
#content .slider .leftSection .p2 {
  width: 100%;
  height: 1rem;
  line-height: 1rem;
  font-size: 0.56rem;
  color: #ff7614;
  text-align: center;
}
#content .slider .rightSection {
  width: 20%;
  height: 2rem;
  float: right;
}
#content .slider .rightSection .p1 {
  width: 100%;
  height: 1rem;
  line-height: 1rem;
  font-size: 0.56rem;
  color: #ff7614;
  text-align: center;
}
#content .slider .rightSection .p2 {
  width: 100%;
  height: 1rem;
  line-height: 1rem;
  font-size: 0.56rem;
  color: #ff7614;
  text-align: center;
}
#content .slider .midSection {
  width: 50%;
  height: 2rem;
  float: left;
  margin-left: 3%;
  position: relative;
}
#content .slider .midSection .lineWrap {
  width: 105%;
  height: 0.32rem;
  background-color: #eee;
  position: absolute;
  top: 0.84rem;
  left: 0%;
  border-radius: 0.16rem;
}
#content .slider .midSection .lineWrap .line {
  width: 105%;
  height: 0.32rem;
  background-color: #ff7614;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0.16rem;
}
#content .slider .midSection .ball {
  width: 0.96rem;
  height: 0.96rem;
  background-color: #ff7614;
  position: absolute;
  top: 0.52rem;
  left: 100%;
  border-radius: 0.48rem;
}
.totalBtn {
  width: 90%;
  height: 1.6rem;
  line-height: 1.6rem;
  font-size: 0.64rem;
  text-align: center;
  color: #fff;
  margin-top: 0.6rem;
  margin-left: 5%;
  background-color: #c6c6c6;
  box-shadow: 0 0 1px #9b9a9a;
  border-radius: 0.16rem;
}
.totalBtn.active {
  background-color: #0099df;
}
#mask {
  display: none;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 110;
}
#dialog {
  display: none;
  z-index: 112;
  width: 100%;
  height: 12.6rem;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #fff;
}
#dialog .wrap {
  width: 100%;
  height: 1.4rem;
  position: absolute;
  top: 0;
  left: 0;
}
#dialog .wrap .cancel {
  float: left;
  width: 4rem;
  height: 1.4rem;
  line-height: 1.4rem;
  font-size: 0.56rem;
  text-align: center;
  color: #333;
}
#dialog .wrap .sure {
  float: right;
  width: 4rem;
  height: 1.4rem;
  line-height: 1.4rem;
  font-size: 0.56rem;
  text-align: center;
  color: #333;
}
#dialog .ulWrap {
  width: 100%;
  height: 11.2rem;
  position: absolute;
  top: 1.4rem;
  left: 0;
  overflow: hidden;
}
#dialog .ulWrap ul {
  width: 100%;
  position: absolute;
  top: 0rem;
  left: 0rem;
  z-index: 112;
}
#dialog .ulWrap ul li {
  width: 100%;
  height: 1.6rem;
  line-height: 1.6rem;
  font-size: 0.64rem;
  color: #a6a6a7;
  text-align: center;
}
#dialog .mask {
  width: 100%;
  height: 1.6rem;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 6.2rem;
  left: 0;
  z-index: 111;
}
