/*移动端默认样式*/
/*清除掉按下时会有一个灰色阴影*/
a,
input,
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/*清除掉ios自带圆角*/
input,
button {
  -webkit-appearance: none;
  border-radius: 0;
  border: none;
  background-color: #fff;
}
body {
  /*禁止选中文字*/
  -webkit-user-select: none;
  /* iPhone 和 Android 的浏览器纵向 (Portrate mode) 和橫向 (Landscape mode) 模式皆有自动调整字体大小的功能。控制它的就是 CSS 中的 -webkit-text-size-adjust。关闭字体大小自动调整功能*/
  -webkit-text-size-adjust: 100%;
}
/*字体设置*/
body * {
  font-family: PingFang-SC-Medium;
}
a {
  text-decoration: none;
}
input,
button {
  outline: none;
  vertical-align: middle;
}
img {
  vertical-align: middle;
}
ul {
  list-style: none;
}
body,
ul,
h1,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
/*变量*/
body {
  margin-top: 1.76rem;
}
header {
  width: 100%;
  height: 1.76rem;
  background-color: #0099df;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
header .back {
  width: 1.2rem;
  height: 0.8rem;
  background: url(../img/back.png) no-repeat;
  background-size: 0.44rem 0.8rem;
  position: absolute;
  top: 0.4rem;
  left: 0.4rem;
}
header .mainTitle {
  height: 0.8rem;
  line-height: 0.8rem;
  font-size: 0.8rem;
  color: #fff;
  position: absolute;
  top: 0.48rem;
  left: 50%;
  transform: translateX(-50%);
}
#content {
  width: 100%;
}
#content .top {
  width: 100%;
  height: 7.28rem;
  border-bottom: 0.32rem solid #eee;
  position: relative;
  background: url(../img/bigLogo.jpg) no-repeat;
  background-size: 100% 7.28rem;
}
#content .top .title {
  width: 100%;
  color: #fae23f;
  height: 0.68rem;
  line-height: 0.68rem;
  font-size: 0.68rem;
  text-align: center;
  position: absolute;
  top: 1.4rem;
}
#content .top .ammount {
  width: 100%;
  color: #fae23f;
  height: 0.88rem;
  line-height: 0.88rem;
  font-size: 0.88rem;
  text-align: center;
  position: absolute;
  top: 3rem;
}
#content .top .formula {
  width: 100%;
  height: 0.6rem;
  line-height: 0.6rem;
  font-size: 0.6rem;
  text-align: center;
  color: #fff;
  position: absolute;
  bottom: 0.8rem;
  left: 0;
}
#content .datePicker {
  width: 100%;
  height: 2.24rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 0.04rem solid #f3f3f3;
}
#content .datePicker .start,
#content .datePicker .finish {
  width: 30%;
  height: 1.28rem;
  line-height: 1.28rem;
  font-size: 0.52rem;
  border-radius: 0.64rem;
  background-color: #f2f2f2;
  color: #000;
  text-align: center;
}
#content .datePicker .to {
  height: 1.28rem;
  line-height: 1.28rem;
  font-size: 0.64rem;
}
#content .datePicker .type {
  width: 20%;
  height: 1.28rem;
  line-height: 1.28rem;
  font-size: 0.64rem;
}
#content .datePicker .type span {
  float: right;
  width: 0.8rem;
  height: 0.4rem;
  margin-top: 0.52rem;
  margin-right: 0.56rem;
  background: url(../img/downArrow.png) no-repeat;
  background-size: 0.8rem 0.4rem;
}
#content ul {
  width: 90%;
  margin-left: 5%;
  margin-top: 0.8rem;
}
#content ul li {
  float: left;
  width: 33.3%;
  height: 4.8rem;
  border-right: 0.04rem solid #e7e7e7;
  border-bottom: 0.04rem solid #e7e7e7;
  box-sizing: border-box;
  position: relative;
}
#content ul li:nth-of-type(3n) {
  border-right: none;
}
#content ul li:last-child {
  border-bottom: none;
}
#content ul li .title {
  width: 100%;
  height: 0.56rem;
  line-height: 0.56rem;
  font-size: 0.56rem;
  color: #ff7614;
  position: absolute;
  top: 1.2rem;
  left: 0;
  text-align: center;
}
#content ul li .con {
  width: 100%;
  height: 0.56rem;
  line-height: 0.56rem;
  font-size: 0.56rem;
  color: #282828;
  position: absolute;
  bottom: 1.2rem;
  left: 0;
  font-weight: bold;
  text-align: center;
}
#mask {
  display: none;
  z-index: 103;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}
#dateDialog {
  display: none;
  z-index: 104;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 12rem;
  background-color: #fff;
}
#dateDialog .topBtns {
  width: 100%;
  height: 1.6rem;
  border-bottom: 0.04rem solid #eee;
}
#dateDialog .topBtns .cancel {
  width: 50%;
  height: 1.6rem;
  line-height: 1.6rem;
  font-size: 0.64rem;
  color: #26a2ff;
  text-align: center;
  float: left;
}
#dateDialog .topBtns .sure {
  width: 50%;
  height: 1.6rem;
  line-height: 1.6rem;
  font-size: 0.64rem;
  color: #26a2ff;
  text-align: center;
  float: left;
}
#dateDialog .bot {
  width: 100%;
  height: 10.36rem;
}
#dateDialog .bot .year {
  z-index: 105;
  float: left;
  width: 33%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
#dateDialog .bot .year ul {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#dateDialog .bot .year ul li {
  width: 100%;
  height: 1.44rem;
  line-height: 1.44rem;
  font-size: 0.72rem;
  color: #a6a6a7;
  text-align: center;
}
#dateDialog .bot .month {
  z-index: 105;
  float: left;
  width: 33%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
#dateDialog .bot .month ul {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#dateDialog .bot .month ul li {
  width: 100%;
  height: 1.44rem;
  line-height: 1.44rem;
  font-size: 0.72rem;
  color: #a6a6a7;
  text-align: center;
}
#dateDialog .bot .day {
  z-index: 105;
  float: left;
  width: 33%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
#dateDialog .bot .day ul {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#dateDialog .bot .day ul li {
  width: 100%;
  height: 1.44rem;
  line-height: 1.44rem;
  font-size: 0.72rem;
  color: #a6a6a7;
  text-align: center;
}
#dateDialog .mask {
  width: 100%;
  height: 1.44rem;
  position: absolute;
  top: 3.08rem;
  left: 0;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: 104;
}
