/*移动端默认样式*/
/*清除掉按下时会有一个灰色阴影*/
a,
input,
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/*清除掉ios自带圆角*/
input,
button {
  -webkit-appearance: none;
  border-radius: 0;
  border: none;
  background-color: #fff;
}
body {
  /*禁止选中文字*/
  -webkit-user-select: none;
  /* iPhone 和 Android 的浏览器纵向 (Portrate mode) 和橫向 (Landscape mode) 模式皆有自动调整字体大小的功能。控制它的就是 CSS 中的 -webkit-text-size-adjust。关闭字体大小自动调整功能*/
  -webkit-text-size-adjust: 100%;
}
/*字体设置*/
body * {
  font-family: PingFang-SC-Medium;
}
a {
  text-decoration: none;
}
input,
button {
  outline: none;
  vertical-align: middle;
}
img {
  vertical-align: middle;
}
ul {
  list-style: none;
}
body,
ul,
h1,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
/*变量*/
body {
  background-color: #f5f5f5;
}
header {
  width: 100%;
  height: 9.08rem;
  background: url(../img/loginBigBg.png) no-repeat;
  background-size: 100% 9.08rem;
}
header .back {
  width: 1.2rem;
  height: 0.8rem;
  background: url(../img/back.png) no-repeat;
  background-size: 0.44rem 0.8rem;
  position: absolute;
  top: 0.4rem;
  left: 0.4rem;
}
header .mainTitle {
  height: 0.8rem;
  line-height: 0.8rem;
  font-size: 0.8rem;
  color: #fff;
  position: absolute;
  top: 0.48rem;
  left: 50%;
  transform: translateX(-50%);
}
header img {
  position: absolute;
  width: 60%;
  left: 50%;
  top: 2rem;
  transform: translateX(-50%);
}
#content {
  width: 80%;
  margin-left: 10%;
  background-color: #fff;
  box-shadow: 0 0.08rem 0.36rem 0.04rem #999;
  position: relative;
  transform: translateY(-1.8rem);
  border-radius: 0.5rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}
#content ul {
  width: 90%;
  margin-left: 5%;
}
#content ul li {
  width: 100%;
  height: 2.24rem;
  box-sizing: border-box;
  position: relative;
}
#content ul li input {
  display: block;
  width: 100%;
  height: 1.68rem;
  box-sizing: border-box;
  padding: 0.48rem;
  border-radius: 0.8rem;
  border: 0.04rem solid #eee;
  font-size: 0.52rem;
  caret-color: red;
}
#content ul li .remember {
  width: 100%;
  height: 1.68rem;
  line-height: 1.68rem;
  font-size: 0.56rem;
  padding-left: 0.92rem;
  box-sizing: border-box;
  background: url(../img/protocal.png) no-repeat;
  background-size: 0.8rem 0.8rem;
  background-position: 0 center;
}
#content ul li .remember.active {
  background: url(../img/protocalChecked.png) no-repeat;
  background-size: 0.8rem 0.8rem;
  background-position: 0 center;
}
#content .btn {
  width: 90%;
  margin-left: 5%;
  height: 1.68rem;
  border-radius: 0.8rem;
  background-color: #c6c6c6;
  box-shadow: 0 0 1px #9b9a9a;
  color: #fff;
  line-height: 1.68rem;
  font-size: 0.72rem;
  text-align: center;
}
#content .btn.active {
  background-color: #0099df;
}
