/*移动端默认样式*/
/*清除掉按下时会有一个灰色阴影*/
a,
input,
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/*清除掉ios自带圆角*/
input,
button {
  -webkit-appearance: none;
  border-radius: 0;
  border: none;
  background-color: #fff;
}
body {
  /*禁止选中文字*/
  -webkit-user-select: none;
  /* iPhone 和 Android 的浏览器纵向 (Portrate mode) 和橫向 (Landscape mode) 模式皆有自动调整字体大小的功能。控制它的就是 CSS 中的 -webkit-text-size-adjust。关闭字体大小自动调整功能*/
  -webkit-text-size-adjust: 100%;
}
/*字体设置*/
body * {
  font-family: PingFang-SC-Medium;
}
a {
  text-decoration: none;
}
input,
button {
  outline: none;
  vertical-align: middle;
}
img {
  vertical-align: middle;
}
ul {
  list-style: none;
}
body,
ul,
h1,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
/*变量*/
body {
  margin-top: 1.76rem;
}
header {
  width: 100%;
  height: 1.76rem;
  background-color: #0099df;
  position: fixed;
  top: 0;
  left: 0;
}
header .back {
  width: 1.2rem;
  height: 0.8rem;
  background: url(../img/back.png) no-repeat;
  background-size: 0.44rem 0.8rem;
  position: absolute;
  top: 0.4rem;
  left: 0.4rem;
}
header .mainTitle {
  height: 0.8rem;
  line-height: 0.8rem;
  font-size: 0.8rem;
  color: #fff;
  position: absolute;
  top: 0.48rem;
  left: 50%;
  transform: translateX(-50%);
}
header .free {
  height: 0.64rem;
  position: absolute;
  line-height: 0.64rem;
  font-size: 0.64rem;
  color: #fff;
  right: 2%;
  top: 0.56rem;
}
#content {
  width: 100%;
}
#content ul {
  width: 92%;
  padding: 0 4%;
}
#content ul li {
  width: 100%;
  height: 2.32rem;
  position: relative;
  border-bottom: 0.04rem solid #eee;
  background: url(../img/next.png) no-repeat;
  background-size: 0.44rem 0.8rem;
  background-position: right center;
}
#content ul li .number {
  width: 60%;
  height: 0.56rem;
  line-height: 0.56rem;
  font-size: 0.56rem;
  color: #757575;
  position: absolute;
  top: 0.4rem;
  left: 0rem;
}
#content ul li .time {
  width: 60%;
  height: 0.56rem;
  line-height: 0.56rem;
  font-size: 0.56rem;
  color: #757575;
  position: absolute;
  top: 1.4rem;
  left: 0rem;
}
#content ul li .type {
  width: 20%;
  height: 0.48rem;
  line-height: 0.48rem;
  font-size: 0.48rem;
  color: #008000;
  position: absolute;
  top: 0.92rem;
  right: 1rem;
  text-align: right;
}
#content .botLine {
  width: 100%;
  height: 0.48rem;
  line-height: 0.48rem;
  font-size: 0.48rem;
  margin-top: 0.6rem;
  text-align: center;
  color: #999999;
}
#mask {
  display: none;
  z-index: 103;
  position: fixed;
  left: 0;
  top: 0;
  width: 14%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}
#filterDialog {
  display: none;
  width: 86%;
  height: calc(100vh - 1.76rem);
  background-color: #fff;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 101;
}
#filterDialog .titleDate {
  width: 100%;
  height: 1.6rem;
  line-height: 1.6rem;
  font-size: 0.56rem;
  color: #999;
  text-indent: 1em;
}
#filterDialog .time {
  width: 90%;
  height: 2.4rem;
  background-color: #ffdfd7;
  margin-left: 5%;
  padding: 0.4rem;
  box-sizing: border-box;
  position: relative;
}
#filterDialog .time .start {
  width: 30%;
  height: 1.6rem;
  line-height: 1.6rem;
  font-size: 0.48rem;
  text-align: center;
  color: #999;
  background-color: #fff;
  float: left;
}
#filterDialog .time .finish {
  width: 30%;
  height: 1.6rem;
  line-height: 1.6rem;
  font-size: 0.48rem;
  text-align: center;
  color: #999;
  background-color: #fff;
  float: right;
}
#filterDialog .time .line {
  width: 0.64rem;
  height: 0.12rem;
  background-color: #ec0022;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#filterDialog .titleType {
  width: 100%;
  height: 1.6rem;
  line-height: 1.6rem;
  font-size: 0.56rem;
  color: #999;
  text-indent: 1em;
  margin-top: 0.8rem;
}
#filterDialog .typeul {
  width: 100%;
}
#filterDialog .typeul li {
  width: 30%;
  height: 1.2rem;
  line-height: 1.2rem;
  font-size: 0.48rem;
  text-align: center;
  color: #999;
  border: 0.04rem solid #ccc;
  box-sizing: border-box;
  border-radius: 0.16rem;
  float: left;
  margin-left: 2.5%;
  margin-bottom: 0.4rem;
}
#filterDialog .typeul li.active {
  background-color: #ec0022;
  color: #fff;
}
#filterDialog .btns {
  width: 100%;
  height: 1.52rem;
  position: absolute;
  bottom: 0;
  left: 0;
}
#filterDialog .btns .cancel {
  width: 50%;
  height: 1.52rem;
  border: 0.04rem solid #ec0022;
  color: #ec0022;
  line-height: 1.44rem;
  font-size: 0.64rem;
  text-align: center;
  float: left;
  box-sizing: border-box;
}
#filterDialog .btns .sure {
  width: 50%;
  height: 1.52rem;
  border: 0.04rem solid #ec0022;
  color: #fff;
  background-color: #ec0022;
  line-height: 1.44rem;
  font-size: 0.64rem;
  text-align: center;
  float: right;
  box-sizing: border-box;
}
#dateDialog {
  display: none;
  z-index: 104;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 12rem;
  background-color: #fff;
}
#dateDialog .topBtns {
  width: 100%;
  height: 1.6rem;
  border-bottom: 0.04rem solid #eee;
}
#dateDialog .topBtns .cancel {
  width: 50%;
  height: 1.6rem;
  line-height: 1.6rem;
  font-size: 0.64rem;
  color: #26a2ff;
  text-align: center;
  float: left;
}
#dateDialog .topBtns .sure {
  width: 50%;
  height: 1.6rem;
  line-height: 1.6rem;
  font-size: 0.64rem;
  color: #26a2ff;
  text-align: center;
  float: left;
}
#dateDialog .bot {
  width: 100%;
  height: 10.36rem;
}
#dateDialog .bot .year {
  z-index: 105;
  float: left;
  width: 33%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
#dateDialog .bot .year ul {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#dateDialog .bot .year ul li {
  width: 100%;
  height: 1.44rem;
  line-height: 1.44rem;
  font-size: 0.72rem;
  color: #a6a6a7;
  text-align: center;
}
#dateDialog .bot .month {
  z-index: 105;
  float: left;
  width: 33%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
#dateDialog .bot .month ul {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#dateDialog .bot .month ul li {
  width: 100%;
  height: 1.44rem;
  line-height: 1.44rem;
  font-size: 0.72rem;
  color: #a6a6a7;
  text-align: center;
}
#dateDialog .bot .day {
  z-index: 105;
  float: left;
  width: 33%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
#dateDialog .bot .day ul {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#dateDialog .bot .day ul li {
  width: 100%;
  height: 1.44rem;
  line-height: 1.44rem;
  font-size: 0.72rem;
  color: #a6a6a7;
  text-align: center;
}
#dateDialog .mask {
  width: 100%;
  height: 1.44rem;
  position: absolute;
  top: 3.08rem;
  left: 0;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: 104;
}
